[Unit]
Description=Automatically generates index page for nginx server
After=network.target

[Service]
Type=oneshot
ExecStart=python /opt/nipg/app.py
ExecStartPost=systemctl reload nginx

[Install]
WantedBy=multi-user.target
